@import "../../styles/variables";

.ProductDetails {
  display: flex;
  flex-direction: row;

  &-gallery {
    width:700px;
    height: 480px;
    display: flex;
    flex-direction: row;
    margin-right: 110px;

    &-images {
      display: flex;
      flex-direction: column;

      & {
        overflow-y: auto;
      }

      & img {
        cursor: pointer;
        max-width: 80px;
        max-height: 80px;
        margin-bottom: 20px;
      }

      & img:last-child {
        margin-top: 0;
      }
    }

    &-selectedImage {
      margin-left: 40px;
      width: 575px;
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & img {
        max-width: 575px;
        max-height: 480px;
      }

      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: #000000BA;
        cursor: pointer;
        user-select: none;

        &_left {
          left: 0;
        }

        &_right {
          right: 0;
        }

        & img {
          border: 0;
        }
      }
    }
  }

  &-info {
    width: 300px;

    &-attributeTitle {
      font-weight: 700;
      font-size: 18px;
    }

    &-name {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 600;
    }

    &-attributes {

      &-attribute {

        &-items {
          margin-top: 10px;
          margin-bottom: 30px;
          display: flex;

          &-item {
            cursor: pointer;

            &_swatch {
              height: 35px;
              width: 35px;
              margin-right: 8px;

              &_selected {
                position: relative;

                &::before {
                  content: '';
                  position: absolute;
                  border: 2px solid $color-primary;
                  padding: 19.5px;
                  top: -4px;
                  left: -4px;
                }
              }
              transition: border 0.3s;
            }

            &_text {
              border: 1px solid $color-black;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 45px;
              min-width: 60px;
              margin-right: 12px;

              &_selected {
                background: $color-black;
                color: $color-white;
              }
            }
          }
        }
      }
    }

    &-price {
      margin-top: 10px;
      font-weight: 700;
      font-size: 24px;
      display: flex;
      margin-bottom: 20px;

      &-amount {
        margin-top: 3px;
      }
    }

    &-button {
      margin-bottom: 40px;
      width: 100%;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      font-weight: 600;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
      transition: 0.4s;

      &:hover:not(&_disabled) {
        background: $color-primary_hover;
      }

      &_disabled {
        background: $color-gray;
        cursor: default;
      }
    }

    &-description {

    }
  }
}